/*
*ESTILOS GENERALES
*/

.custom-table td, th {
    vertical-align: baseline!important;
}

.dataTables_wrapper {
    margin-top: 10px;
}

.table.dataTable {
    border-collapse: collapse!important;
}

.custom-progress {
    margin-top: 10px;
}

.separador-1 {
    border-right: 1px solid #6b7886;
}

.separador-2 {
    border-left: 1px solid #6b7886;
}

.modal-mix {
    max-width: 1024px!important;
}

.label-toner {
    font-weight: bold;
    font-size: 24px
}

.irs {
    margin-top: 5px;
}

.irs-from, .irs-to, .irs-single {
    background: #007bff!important;
}

.irs-from:after, .irs-to:after, .irs-single:after {
    border-top-color: #007bff!important;
}


.p-mod {
    padding: 7px 0 7px 0;
}

#sustitucionToner {
	overflow-y: scroll;
}


/*ESTILO DEL RANGE*/

input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #50555C;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #50555C;
}
input[type=range]:focus::-ms-fill-upper {
  background: #50555C;
}

.porcentaje-1 {
	position: absolute;
    top: 0px;
    left: 40px;
}

.porcentaje-2 {
    position: absolute;
    top: 0;
    left: 68px;
}

.noseleccionable{

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
   
   }