body {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
    background-color:white;
    text-align: center !important;    
    background: url("images/archivo1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;   
   
    
}
.wallpaper{
    background-color: #00000085;
    position: fixed;
    height: 100%;
    width: 100%;
}
strong {
    font-weight: 500;
}
a,
a:focus,
a:hover {
    text-decoration: none;
}
h1,
h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    line-height: 50px;
}
h3 {
    font-size: 22px;
    font-weight: 300;
}

/* Contenidos y Formulario*/
.my-content {
    padding: 100px 0 170px;
}
.my-content .mydescription {
    margin: 20px 0 10px;
}
.my-content .mydescription p {
    opacity: 0.8;
}
.myform-cont {
    margin-top: 35px;
}
.myform-top {
    overflow: hidden;
    padding: 0 25px 15px;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    background-color: #2d91a7;

}
.myform-top-left {
    padding-top: 25px;
    text-align: center;
}

.myform-top-left p {
    opacity: 0.8;
}
.myform-top-right {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 50px;
    opacity: 0.5;
}
.myform-bottom {
    padding: 25px 25px 30px;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    background-color: #2d91a7;
}
.myform-bottom .mybtn {
    width: 100%;
     background: #0d2242
}
input[type="text"],
input[type="password"],
textarea,
textarea.form-control {
    height: 50px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;

}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus {
    background: #fff;
    border: 2px solid #1AAE88;
}

button.mybtn {
    height: 50px;
    background: #1AAE88;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

}
button.mybtn:active,
button.mybtn:hover {
    opacity: 0.6;
    color: #fff;
}
button.mybtn:focus {
    opacity: 0.6;
    color: #fff;
    background: #de615e;
}

/*LOGIN REDES SOCIALES*/

.mysocial-login {
    margin-top: 35px;
}
.mysocial-login-buttons {
    margin-top: 25px;
}
.mybtn-social {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 15px 20px 0;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.mybtn-social:active:focus,
.mybtn-social:focus,
.mybtn-social:hover {
    outline: 0;
    opacity: 0.6;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}

/* Media queries */
@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

    .mytop-content {
        padding: 60px 0 110px;
    }

}

@media (max-width: 415px) {

    h1,
    h2 {
        font-size: 32px;
    }

}
.posicion {
    text-align: center;
    margin-left: 279px;
}
h3 {
   
    font-size: 31px;

}
