.fondo {    
    background-repeat: no-repeat;
    background-size: cover;   
}
.posicion {
    justify-content: left;   
}
.dataTables_filter {
    text-align: right!important;
}
.navbarsito{
    background-color: white;
    box-shadow: 2px 2px 5px #999;
}
.tabla{
    width: 133px;
   
    text-align: center;
    
}

.table thead th{
    vertical-align: initial!important
}

.table td, .table th {
    vertical-align: initial!important

}
.arreglo-tabla{
    width: 384px;
}

.arreglofecha{
   width: 130px !important;
}



